<div class="report-widget">

    <h3><?=e(trans($this->property('widget-title')))?></h3>
    <div class="vis-box" style="overflow-y: scroll; height: <?=e(trans($this->property('widget-height')))?>px" >
        <ul id="page-feed">
        </ul>
    </div>
</div>
<script type="text/javascript">
    $(document).ready(function () {
        setInterval(function () {
            $.getJSON('<?=$url?>', function (data) {

                var d = JSON.parse(data)

                if(!$('#' + d.id).length){

                    if(d.id != 'none' ) {

                         ip = '';
                         datetime = '';
                        if ('<?=e(trans($this->property('show-ip')))?>' == 1) {
                         ip =d.ip + ' - ';
                     }
                     
                     if ('<?=e(trans($this->property('show-date')))?>' == 1) {
                         datetime =d.time + ' - ';
                     }
                     
                     $('<li id="' + d.id + '">' + ip  + datetime + d.url + '</li>').prependTo("#page-feed").hide().fadeIn( 2000 );

                 }
             }
         });
        }, <?=e(trans($this->property('update-interval')))?>);

    });
</script>